* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f7f8;
}

.outer-div {
	width: 400px;
	padding: 20px;
	background-color: #379777;
	border-radius: 5px;
}

#inputs {
	/* margin-bottom: 20px; */
	width: 100%;
}

input {
	width: 80%;
	padding: 8px;
	border: none;
	border-radius: 6px;
	margin-right: 3px;
}

input:focus {
	outline: none;
}

#add {
	width: 15%;
}

button {
	border: none;
	background-color: #45474b;
	color: #f5f7f8;
	padding: 8px;
	border-radius: 6px;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f4ce14;
	margin: 15px 0 8px 0;
	padding: 7px 10px;
	border-radius: 5px;
}

.todo-item button {
	padding: 6px 10px;
}

.dragging {
	opacity: 0;
}
